{
  "openapi": "3.0.1",
  "info": {
    "version": "1.0.0",
    "title": "API Coins 1.0.0",
    "description": "Showing off swagger-ui-express",
    "license": {
      "name": "MIT",
      "url": "https://opensource.org/licenses/MIT"
    }
  },
  "servers": [
    {
      "url": "https://coins-backend.p.goit.global/"
    },
    {
      "url": "http://localhost:3007/"
    }
  ],
  "tags": [
    {
      "name": "Coins",
      "description": "Coins-back info endpoints"
    }
  ],
  "paths": {
    "/coins/name/{coinName}": {
      "get": {
        "tags": [
          "Coins"
        ],
        "summary": "Получает информацию о монете по её имени",
        "description": "Возвращает данные о монете, основываясь на переданном имени монеты.",
        "parameters": [
          {
            "name": "coinName",
            "in": "path",
            "required": true,
            "description": "Имя монеты для поиска"
          }
        ],
        "responses": {
          "200": {
            "description": "Успешный ответ",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CoinsArray"
                }
              }
            }
          },
          "400": {
            "description": "Неверный запрос (например, отсутствует имя монеты)"
          },
          "404": {
            "description": "Монета не найдена"
          }
        }
      }
    },
    "/coins/symbol/{symbol}": {
      "get": {
        "tags": [
          "Coins"
        ],
        "summary": "Получает информацию о монете по её имени",
        "description": "Возвращает данные о монете, основываясь на переданном имени монеты.",
        "parameters": [
          {
            "name": "coinName",
            "in": "path",
            "required": true,
            "description": "Имя монеты для поиска"
          }
        ],
        "responses": {
          "200": {
            "description": "Успешный ответ",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CoinsArray"
                }
              }
            }
          },
          "400": {
            "description": "Неверный запрос (например, отсутствует имя монеты)"
          },
          "404": {
            "description": "Монета не найдена"
          }
        }
      }
    },
    "/coins/price/{sortOrder}": {
      "get": {
        "tags": [
          "Coins"
        ],
        "summary": "Получает список монет с сортировкой по цене",
        "description": "Возвращает список монет, отсортированных по цене в порядке, указанном в параметре.",
        "parameters": [
          {
            "name": "sortOrder",
            "in": "path",
            "required": true,
            "description": "Порядок сортировки: ASC для возрастания или DESC для убывания",
            "schema": {
              "type": "string",
              "enum": [
                "ASC",
                "DESC"
              ],
              "default": "ASC"
            }
          },
          {
            "name": "pageNumber",
            "in": "query",
            "description": "Page number of the results to fetch.",
            "schema": {
              "type": "number"
            }
          },
          {
            "name": "pageSize",
            "in": "query",
            "description": "Number of results per page.",
            "schema": {
              "type": "number"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Успешный ответ с отсортированным списком монет",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CoinsArray"
                }
              }
            }
          },
          "400": {
            "description": "Неверный запрос, например, неправильное значение сортировки"
          },
          "404": {
            "description": "Монеты не найдены"
          }
        }
      }
    },
    "/coins/price_change_percentage_1h_in_currency/{sortOrder}": {
      "get": {
        "tags": [
          "Coins"
        ],
        "summary": "Получает список монет с сортировкой по цене % за последний час",
        "description": "Возвращает список монет, отсортированных по цене в порядке, указанном в параметре.",
        "parameters": [
          {
            "name": "sortOrder",
            "in": "path",
            "required": true,
            "description": "Порядок сортировки: ASC для возрастания или DESC для убывания",
            "schema": {
              "type": "string",
              "enum": [
                "ASC",
                "DESC"
              ],
              "default": "ASC"
            }
          },
          {
            "name": "pageNumber",
            "in": "query",
            "description": "Page number of the results to fetch.",
            "schema": {
              "type": "number"
            }
          },
          {
            "name": "pageSize",
            "in": "query",
            "description": "Number of results per page.",
            "schema": {
              "type": "number"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Успешный ответ с отсортированным списком монет",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CoinsArray"
                }
              }
            }
          },
          "400": {
            "description": "Неверный запрос, например, неправильное значение сортировки"
          },
          "404": {
            "description": "Монеты не найдены"
          }
        }
      }
    },
    "/coins/price_change_percentage_24h_in_currency/{sortOrder}": {
      "get": {
        "tags": [
          "Coins"
        ],
        "summary": "Получает список монет с сортировкой по цене в % за 24 часа",
        "description": "Возвращает список монет, отсортированных по цене в порядке, указанном в параметре.",
        "parameters": [
          {
            "name": "sortOrder",
            "in": "path",
            "required": true,
            "description": "Порядок сортировки: ASC для возрастания или DESC для убывания",
            "schema": {
              "type": "string",
              "enum": [
                "ASC",
                "DESC"
              ],
              "default": "ASC"
            }
          },
          {
            "name": "pageNumber",
            "in": "query",
            "description": "Page number of the results to fetch.",
            "schema": {
              "type": "number"
            }
          },
          {
            "name": "pageSize",
            "in": "query",
            "description": "Number of results per page.",
            "schema": {
              "type": "number"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Успешный ответ с отсортированным списком монет",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CoinsArray"
                }
              }
            }
          },
          "400": {
            "description": "Неверный запрос, например, неправильное значение сортировки"
          },
          "404": {
            "description": "Монеты не найдены"
          }
        }
      }
    },
    "/coins/price_change_percentage_7d_in_currency/{sortOrder}": {
      "get": {
        "tags": [
          "Coins"
        ],
        "summary": "Получает список монет с сортировкой по цене  в % за 7дней",
        "description": "Возвращает список монет, отсортированных по цене в порядке, указанном в параметре.",
        "parameters": [
          {
            "name": "sortOrder",
            "in": "path",
            "required": true,
            "description": "Порядок сортировки: ASC для возрастания или DESC для убывания",
            "schema": {
              "type": "string",
              "enum": [
                "ASC",
                "DESC"
              ],
              "default": "ASC"
            }
          },
          {
            "name": "pageNumber",
            "in": "query",
            "description": "Page number of the results to fetch.",
            "schema": {
              "type": "number"
            }
          },
          {
            "name": "pageSize",
            "in": "query",
            "description": "Number of results per page.",
            "schema": {
              "type": "number"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Успешный ответ с отсортированным списком монет",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CoinsArray"
                }
              }
            }
          },
          "400": {
            "description": "Неверный запрос, например, неправильное значение сортировки"
          },
          "404": {
            "description": "Монеты не найдены"
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "Coin": {
        "type": "object",
        "properties": {
          "_id": {
            "type": "string",
            "example": "6571e5c260e78d6ce2533e5e"
          },
          "id": {
            "type": "string",
            "example": "tether"
          },
          "symbol": {
            "type": "string",
            "example": "usdt"
          },
          "name": {
            "type": "string",
            "example": "Tether"
          },
          "image": {
            "type": "string",
            "example": "https://assets.coingecko.com/coins/images/325/large/Tether.png?1696501661"
          },
          "current_price": {
            "type": "number",
            "example": 1.001
          },
          "market_cap": {
            "type": "integer",
            "example": 90126191309
          },
          "market_cap_rank": {
            "type": "integer",
            "example": 3
          },
          "fully_diluted_valuation": {
            "type": "integer",
            "example": 90126191309
          },
          "total_volume": {
            "type": "integer",
            "example": 43437813167
          },
          "high_24h": {
            "type": "number",
            "example": 1.002
          },
          "low_24h": {
            "type": "number",
            "example": 0.996412
          },
          "price_change_24h": {
            "type": "number",
            "example": 0.00163016
          },
          "price_change_percentage_24h": {
            "type": "number",
            "example": 0.16304
          },
          "market_cap_change_24h": {
            "type": "integer",
            "example": 229067142
          },
          "market_cap_change_percentage_24h": {
            "type": "number",
            "example": 0.25481
          },
          "circulating_supply": {
            "type": "number",
            "example": 90068084199.1356
          },
          "total_supply": {
            "type": "number",
            "example": 90068084199.1356
          },
          "max_supply": {
            "type": "number",
            "nullable": true,
            "example": null
          },
          "ath": {
            "type": "number",
            "example": 1.32
          },
          "ath_change_percentage": {
            "type": "number",
            "example": -24.37089
          },
          "ath_date": {
            "type": "string",
            "example": "2018-07-24T00:00:00.000Z"
          },
          "atl": {
            "type": "number",
            "example": 0.572521
          },
          "atl_change_percentage": {
            "type": "number",
            "example": 74.77877
          },
          "atl_date": {
            "type": "string",
            "example": "2015-03-02T00:00:00.000Z"
          },
          "last_updated": {
            "type": "string",
            "example": "2023-12-07T15:25:00.368Z"
          },
          "price_change_percentage_1h_in_currency": {
            "type": "number",
            "example": 0.07672511681678976
          },
          "price_change_percentage_24h_in_currency": {
            "type": "number",
            "example": 0.16303867684302603
          },
          "price_change_percentage_7d_in_currency": {
            "type": "number",
            "example": 0.08717091903398581
          },
          "__v": {
            "type": "integer",
            "example": 0
          }
        }
      },
      "CoinsArray": {
        "type": "array",
        "items": {
          "$ref": "#/components/schemas/Coin"
        }
      }
    }
  }
}
